Repository matthewbrown1234/laravel-bootstrap: changes, and which pre-commit hooks are due for each by the changed paths.
All: api-hooks, ui-hooks

api-hooks:
  name: PHPStan Check (API Dir Only)
  entry: composer pre-commit -d api
  language: system

ui-hooks:
  name: Prettier Check (UI Dir Only)
  entry: bun run --cwd ui format
  language: system

fixing all precommit issues
  .pre-commit-config.yaml
  ui/components.d.ts
  ui/eslint.config.ts
  ui/package.json
  ui/src/components/ProductCard.vue
  ui/src/components/ShoppingCartDrawer.vue
  ui/src/pages/Products/ProductsPage.vue
  ui/src/pages/Products/index.ts
Due: ui-hooks

fixing all precommit issues
  .pre-commit-config.yaml
Due: none

adding formatted currency to product
  api/.devcontainer/devcontainer.json
  api/compose.yaml
  api/composer.json
  api/composer.lock
  api/mise.toml
Due: none

Adding actual formatting of currency
  api/app/Domains/Product/Http/Resources/ProductResource.php
  api/composer.json
Due: api-hooks

cleaning up environment files
  api/.env.example
  api/config/database.php
  api/phpunit.xml
Due: api-hooks

getting the sail environment working for devex
  .pre-commit-config.yaml
  api/.devcontainer/devcontainer.json
  api/.env.example
  api/compose.yaml
  api/composer.json
  api/mise.toml
  api/phpunit.xml
  api/routes/api.php
Due: api-hooks

adding aliases for bunr and buni commands
  api/mise.toml
  ui/mise.toml
Due: none

upgrading dependencies and updating
  ui/bun.lock
Due: none

adding checkout UIs
  .pre-commit-config.yaml
  ui/package.json
  ui/src/assets/main.css
  ui/src/client/@tanstack/vue-query.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/components/ProductCard.vue
  ui/src/components/ShoppingCartDrawer.vue
  ui/src/layouts/MainLayout.vue
  ui/src/pages/Checkout/CheckoutPage.vue
  ui/src/pages/Checkout/index.ts
  ui/src/pages/Products/ProductPage.vue
  ui/src/pages/Products/index.ts
  ui/src/router/index.ts
Due: ui-hooks

adding checkout APIs and cancel order functionality
  api/app/Domains/Order/Contracts/OrderServiceInterface.php
  api/app/Domains/Order/Http/Controllers/OrderController.php
  api/app/Domains/Order/Http/Requests/CancelOrderRequest.php
  api/app/Domains/Order/Http/Resources/OrderDetailResource.php
  api/app/Domains/Order/Http/Resources/OrderItemResource.php
  api/app/Domains/Order/Services/OrderService.php
  api/app/Domains/Product/Http/Resources/ProductResource.php
  api/app/Domains/Product/Utils/ProductUtils.php
  api/composer.json
  api/routes/api.php
  api/tests/Feature/Products/ShowProductTest.php
Due: api-hooks

Adding jobs for cleaning up abandoned orders and updating status checks. Also adding api for completing order
  api/app/Domains/Order/Contracts/OrderServiceInterface.php
  api/app/Domains/Order/Http/Controllers/OrderController.php
  api/app/Domains/Order/Jobs/AbandonedOrderCleanupJob.php
  api/app/Domains/Order/Jobs/CancelledOrderCleanupJob.php
  api/app/Domains/Order/Jobs/LockedOrderCleanupJob.php
  api/app/Domains/Order/Models/OrderStatus.php
  api/app/Domains/Order/Services/OrderService.php
  api/bootstrap/app.php
  api/database/migrations/2025_12_29_195055_change_status.php
  api/routes/api.php
  api/routes/console.php
Due: api-hooks

adding event handler for order completion
  api/app/Domains/Order/Events/OrderCompletedEvent.php
  api/app/Domains/Order/Http/Controllers/OrderController.php
  api/app/Domains/Order/Http/Requests/CompleteOrderRequest.php
  api/app/Domains/Order/Jobs/AbandonedOrderCleanupJob.php
  api/app/Domains/Order/Listeners/OrderCompletedListener.php
  api/app/Domains/Order/Services/OrderService.php
  api/bootstrap/app.php
Due: api-hooks

fix bug related to cascade delete on the order_items table
  api/app/Domains/Order/Jobs/AbandonedOrderCleanupJob.php
  api/database/migrations/2025_12_29_220141_add_cascade_delete_order_items.php
Due: api-hooks

adding ide helper
  api/.gitignore
  api/_ide_helper.php
Due: api-hooks

fixing delete
  api/app/Domains/Order/Jobs/AbandonedOrderCleanupJob.php
Due: api-hooks

Adding complete order functionality
  ui/src/client/@tanstack/vue-query.gen.ts
  ui/src/client/index.ts
  ui/src/client/sdk.gen.ts
  ui/src/client/types.gen.ts
  ui/src/pages/Checkout/CheckoutPage.vue
Due: ui-hooks

updating deps
  api/composer.json
  api/composer.lock
  api/tests/Feature/Products/ShowProductTest.php
Due: api-hooks

adding new listener for order created event
  api/app/Domains/Fulfillment/Listeners/OrderCompletedListener.php
  api/app/Domains/Order/Events/OrderCompletedEvent.php
  api/app/Domains/Order/Listeners/OrderCompletedListener.php
  api/app/Domains/Order/Services/OrderService.php
  api/bootstrap/app.php
  api/mise.toml
Due: api-hooks

cleaning up the listeners to make them queueable and only after a db transaction commit.
  api/app/Domains/Fulfillment/Events/ReadyForFulfillmentEvent.php
  api/app/Domains/Fulfillment/Listeners/OrderCompletedListener.php
  api/app/Domains/Order/Listeners/OrderCompletedListener.php
  api/app/Domains/Order/Services/OrderService.php
Due: api-hooks

Path conditions:
  api-hooks: any of: \.php$, but not: ^(UI)/
  ui-hooks: any of: \.tsx?$, but not: ^(API)/
